.section1{
    background-color: blue;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.section1 a{
    color: white;
    text-decoration: none;
}

.section2{
    background-color: lightblue;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    margin: 0px;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.learnmore{
    background-color: blue;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.section3{
    background-color: grey;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
